a.fa {
  text-decoration: none;
}

.font-dorsa {
  font-family: 'Dorsa', sans-serif;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

.font-squada-one {
  font-family: 'Squada One', cursive;
}

.font-cursive {
  font-family: 'Mr De Haviland', cursive;
}
